

/* FIXME: must be in core somewhere */
#customgroups .icon {
	display: inline-block;
}

#customgroups .group .display-name {
	display: inline-block;
	width: 100%;
	margin-left: 10px;
}

#customgroups .group-name-title a,
#customgroups .grid td a {
	visibility: hidden;
}

#customgroups .group-name-title:hover a,
#customgroups .grid tr:hover td a {
	visibility: visible;
}
