<div>
	<input class="member-input-field" type="text" placeholder="{{placeholderText}}" />
	<span class="loading icon-loading-small hidden"></span>
</div>
<br><br>
<div>
    <textarea id="bulk-users-list" class="bulk-input-field" rows="25" placeholder="{{addBulkUsersText}}"></textarea>
    <span class="loading-bulk icon-loading-small hidden"></span><br>
    <input class="action-add-bulk" type="button" value="{{addBulkLabel}}" />
</div>
