<li class="user">
	<a>
		<div class="customgroups-autocomplete-item" title="{{userId}}">
			<div class='avatardiv'></div>
            <div class="autocomplete-item-text">
                <span class="autocomplete-item-displayname">{{displayName}}</span>
                <br/>
                <span class="autocomplete-item-typeInfo">{{typeInfo}}</span>
            </div>
		</div>
	</a>
</li>
