<li class="user">
	<a>
		<div class="customgroups-autocomplete-item" title="{{userId}}">
			<div class='avatardiv'></div>
			<div class='autocomplete-item-text'>{{displayName}}</div>
		</div>
	</a>
</li>
