<div class="header">
</div>
<table class="grid hidden">
	<thead>
		<th></th>
		<th>Member</th>
		<th>Role</th>
		<th></th>
	</thead>
	<tbody class="group-member-list">
	</tbody>
</table>
<div class="loading loading-list" style="height: 50px"></div>
