<div class="header">
</div>
<table class="grid">
	<thead>
		<th></th>
		<th>Member</th>
		<th>Role</th>
		<th></th>
	</thead>
	<tbody class="group-member-list">
	</tbody>
</table>
<a href="#" class="load-more hidden">{{loadMoreLabel}}</a>
<div class="loading hidden" style="height: 50px"></div>
